@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* General Styles */
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 45px;
    line-height: 53px;
}
.cta {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.button-primary{background: #FF900E;border-radius: 8px;font-size: 20px;padding: 18px 20px;color: #ffffff;}
.img-responsive{
    width: 100%;
}
.color-secondary{
    color: #FF900E;
}
.color-dark{
    color: #131313;
}
.mt-20{
    margin-top: 20px;
}
/* ===============================================
                Header and Banner
================================================== */
.top-section {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.logo h2 {
    color: #131313;
    font-size: 45px;
}
.nav-item {
    display: flex;
    justify-content: space-between;
    width: 477px;
}

.nav-item li a {
    font-size: 18px;
    color: #424242;
}

/* Top banner */
.banner-content {
    max-width: 870px;
    margin: 0 auto;
}
.banner-content h2 {
    font-size: 60px;
    line-height: 70px;
    color: #131313;
}
/* ================================
feature-quick-list 
===================================*/
.feature-quick-list {
    padding: 50px 0;
}

.quick-list-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-right: 50px;
}

.quick-list-contet .cta {
    justify-content: start;
}
.quick-list-contet .section-title {
    font-weight: 500;
}

.quick-list-contet .section-title span {
    font-weight: 700;
}

/* ================================
        features-you-enjoy 
===================================*/

.features-top-content {
    margin-bottom: 20px;
}
.features-top-content h2 {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.features-top-content h2:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 106px;
    left: 0;
    background: #FF900E;
}
.features-you-enjoy-area {
    display: flex;
}
.features-you-enjoy-content {
    width: 50%;
    margin-top: 30px;
}

.features-card {
    box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}
.features-card h3 {
    margin-bottom: 10px;
}

.features-you-enjoy-img {
    /* width: 55%; */
    padding-left: 80px;
    margin-left: 54px;
    position: relative;
}

.features-floating-cta {
    position: absolute;
    left: 15px;
    text-align: center;
    top: 60%;
}

.features-floating-cta.button-primary {
    font-size: 65px;
    font-weight: 700;
    padding: 40px 25px;
}
.features-floating-cta a {
    color: #ffffff;
}

.features-floating-cta a span {
    font-size: 25px;
    font-weight: 400;
}


/* ===============================================
              Some Facts Section
================================================== */
.some-facts {
    padding: 90px 0;
}

.some-facts-top {
    width: 542px;
}

.some-facts-contents {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.some-fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px 30px;
}
.some-fact img {
    width: 45px;
    height: 45px;
}

/* ===============================================
              Testimonial Section
================================================== */

.testimonial {
    padding-bottom: 100px;
}

.testimonial-content {
    width: 800px;
    margin: auto;
    text-align: center;
}
.testimonial-text {
    position: relative;
    padding-left: 100px;
}

.testimonial-text:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: #FF900E;
    font-size: 60px;
    top: 10px;
}
.testimonial-content h2 {
    margin-bottom: 35px;
}

/* Footer */
.footer-content {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 31px;
}


/*========================================
                 Responsive 
==========================================*/
@media screen and (max-width: 991px) {
    .testimonial-content {
        width: auto;
    }
}